body {
  background-color: #5C2C35 ;  
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color:#e2bea2;

}


.container {
  max-width:730px;
  margin-left: auto;
  margin-right: auto;
}

.w-100{
  width: 100%;
  padding: 1em;
}


a {color: #1e6798;
}


h1 {
  font-size: 70px;
  margin: 5% 0;
  font-weight: lighter;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color:#ffebd3
}



h2 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  flex-direction: column;
  padding: 10px;
}

h3 {
  font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-style: normal;
  color:#ffebd3
}


p {margin-bottom: 50px;
  font-size: 15px;
  line-height: 34px;
  padding: 10px;
}


.details-sect {
  color: #a72436;
  background-color: rgb(255, 246, 233);
}

.city-wrapper {
  color: #8C2230;
  background-color: rgb(255, 246, 233);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
  gap: 20px;
  border: 4mm ridge rgba(132, 0, 68, 0.93);

}

.list-wrap {
  color: #8C2230;
  background-color: rgb(255, 246, 233);
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  
}

.city-img {
  width: 60%;
}

.city-text {
  width: 40%;
}


footer {
  color: #9bacc0;
}

summary{ 
  font-weight: 700px;
}


